<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slaptažodžio atkūrimas</title>

    <style>
      * {
        padding: 0;
        box-sizing: border-box;
        font-size: 28px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      button {
        display: block;
        margin: auto;
        padding: 8px;
        width: 100%;
        background-color: greenyellow;
        border: none;
        cursor: pointer;
      }

      label {
        font-weight: bold;
      }

      input {
        padding: 4px;
        margin: 8px;
        width: 100%;
      }

      div {
        background-color: hsl(0, 0%, 80%);
        padding: 10%;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div>
      <form id="resetForm">
        <label for="password">Slaptažodis:</label>
        <input
          type="password"
          placeholder="Įveskite slaptažodį"
          name="password"
          id="password"
        />
        <br />
        <label for="confirmPassword">Patvirtinkite slaptažodį:</label>
        <input
          placeholder="Pakartokite slaptažodį"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
        />
        <button type="submit">ATKURTI</button>
      </form>
    </div>

    <script>
      document
        .getElementById("resetForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;

          if (password !== confirmPassword) {
            alert("Slaptažodžiai nesutampa");
            return;
          }

          const passwordRegex =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&_])[A-Za-z\d$@$!%*?&_]{12,36}$/;

          if (
            !passwordRegex.test(password) ||
            !passwordRegex.test(confirmPassword)
          ) {
            alert(
              "Slaptažodyje turi būti: bent 1 didžioji, 1 mažoji raidė, 1 simbolis ir 1 skaičius"
            );
            return;
          }
          try {
            const response = await fetch(window.location.href, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ password, confirmPassword }),
            });

            const result = await response.json();

            if (response.ok) {
              window.location.href = "http://localhost:5173/login";
            } else {
              alert(result.message);
            }
          } catch (e) {
            console.error(e);
          }
        });
    </script>
  </body>
</html>
