:root {
  --primary-color: #c4ee11;
  --secondary-color: #3b11ee;
  --ff: Arial, Helvetica, sans-serif;
  --transition: all 0.15s;
}

* {
  font-family: var(--ff);
  margin: 0;
  padding: 0;
}

/* html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
} */
